
.baby-names{
/* justify-content: space-around; */
border: aqua solid 4px;
margin-top: 8em;
padding: 1em;
display: flex;
flex-wrap: wrap;
}

.f, .m{
width: 5em;
height: 2em;
margin: 0.3em 1em;
border-radius: 17%;
text-align: center;
}


.f{
  background-color: pink;
}

.m{
  background-color: aqua;
}